<div class="gf-form-group">
	<div class="gf-form-inline">
		<div class="gf-form">
			<label class="gf-form-label query-keyword">WHERE</label>
		</div>

		<div class="gf-form" ng-repeat="segment in ctrl.tagSegments">
			<metric-segment segment="segment" get-options="ctrl.metadataClient.getTagsOrValues(segment, $index, $query, true)" on-change="ctrl.tagSegmentUpdated(segment, $index)"></metric-segment>
		</div>

		<div class="gf-form gf-form--grow">
			<div class="gf-form-label gf-form-label--grow"></div>
		</div>
	</div>
</div>

<div class="gf-form-group">
	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label width-4">Text</span>
			<input type="text" class="gf-form-input max-width-10" ng-model='ctrl.annotation.textColumn' placeholder=""></input>
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-4">Tags</span>
			<input type="text" class="gf-form-input max-width-10" ng-model='ctrl.annotation.tagsColumn' placeholder=""></input>
		</div>
		<div class="gf-form">
		<gf-form-switch class="gf-form" label="Ranged" tooltip="Uses the value of a given point to create an endTime to create an annotation range window." checked="ctrl.annotation.ranged" label-class="width-7">
		</gf-form-switch>
		</div>
		<div class="gf-form" ng-show="ctrl.annotation.ranged">
			<span class="gf-form-label width-7">Range Type</span>
			<div class="gf-form-select-wrapper">
				<select class="gf-form-input ng-pristine ng-untouched ng-valid ng-not-empty"
								ng-model="ctrl.annotation.rangeType"
								ng-options="f for f in ctrl.rangeTypes">
				</select>
			</div>
		</div>
	</div>
</div>
